<?php

$app['updater.baseurl'] = '';
$app['updater.file_path'] = '';

$app['twig.path'] = array(__DIR__ . '/../templates');
$app['twig.options'] = array('cache' => __DIR__ . '/../var/cache/twig');

/**
 * 
 * @see https://silex.sensiolabs.org/doc/2.0/providers/doctrine.html#using-multiple-databases
 */
$app['doctrine.options'] = array(
    'db.options' => array(
        'driver' => 'pdo_mysql',
        'host' => 'localhost',
        'dbname' => 'AppUpdater',
        'user' => '',
        'password' => '',
        'charset' => 'utf8',
    )
);
